.ellipsis2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;    
    color: #404040;
    font-size: 13px;
    }

img {
    border-radius: 10px;
}

.price {
    font-weight: 700;
    color: black;
    font-size: 13px;
}

// .background {
//     background-image: url("./assets/images/funky-lines.png");
// }