<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="home()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>        
      </ion-button>
    </ion-buttons>
    <ion-title>Registro de cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Primer Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.first_name" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Primer Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.last_name" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="newUser.email" (ionBlur)="checkEmail()" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.username" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newUser.password" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmar contraseña</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.confirm_password" value=""></ion-input>
    </ion-item>

    <ion-item-divider color="primary">Detalles de facturación</ion-item-divider>

    <ion-item>
      <ion-label>Dirección Línea 1</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.billing_address.address_1" value=""></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Dirección Línea 2</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.billing_address.address_2" value=""></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>País</ion-label>
      <ion-select value="Venezuela" [(ngModel)]="newUser.billing_address.country">
        <ion-select-option value="Venezuela" selected="true">Venezuela</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="newUser.billing_address.state">
        <ion-select-option value="Amazonas">Amazonas</ion-select-option>
        <ion-select-option value="Anzoátegui">Anzoátegui</ion-select-option>
        <ion-select-option value="Apure">Apure</ion-select-option>
        <ion-select-option value="Aragua">Aragua</ion-select-option>
        <ion-select-option value="Barinas">Barinas</ion-select-option>
        <ion-select-option value="Bolívar">Bolívar</ion-select-option>
        <ion-select-option value="Carabobo">Carabobo</ion-select-option>
        <ion-select-option value="Cojedes">Cojedes</ion-select-option>
        <ion-select-option value="Delta Amacuro">Delta Amacuro</ion-select-option>
        <ion-select-option value="Distrito Capital" selected="true">Distrito Capital</ion-select-option>
        <ion-select-option value="Falcón">Falcón</ion-select-option>
        <ion-select-option value="Guárico">Guárico</ion-select-option>
        <ion-select-option value="Lara">Lara</ion-select-option>
        <ion-select-option value="Mérida">Mérida</ion-select-option>
        <ion-select-option value="Miranda">Miranda</ion-select-option>
        <ion-select-option value="Monagas">Monagas</ion-select-option>
        <ion-select-option value="Nueva Esparta">Nueva Esparta</ion-select-option>
        <ion-select-option value="Portuguesa">Portuguesa</ion-select-option>
        <ion-select-option value="Sucre">Sucre</ion-select-option>
        <ion-select-option value="Táchira">Táchira</ion-select-option>
        <ion-select-option value="Trujillo">Trujillo</ion-select-option>
        <ion-select-option value="Vargas">Vargas</ion-select-option>
        <ion-select-option value="Yaracuy">Yaracuy</ion-select-option>
        <ion-select-option value="Zulia">Zulia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.billing_address.city" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Código postal</ion-label>
      <ion-input type="number" clearInput [(ngModel)]="newUser.billing_address.postcode" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input type="tel" clearInput [(ngModel)]="newUser.billing_address.phone" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mismos detalles de envío</ion-label>
      <ion-checkbox (ionChange)="setBillingToShipping()"></ion-checkbox>
    </ion-item>


    <ion-item-divider color="primary" *ngIf="!billing_shipping_same">Detalles de envío</ion-item-divider>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Dirección Línea 1</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.shipping_address.address_1" value=""></ion-textarea>
    </ion-item>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Dirección Línea 2</ion-label>
      <ion-textarea type="text" maxlength="80" [(ngModel)]="newUser.shipping_address.address_2" value=""></ion-textarea>
    </ion-item>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>País</ion-label>
      <ion-select value="Venezuela" [(ngModel)]="newUser.shipping_address.country">
        <ion-select-option value="Venezuela" selected="true">Venezuela</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>State</ion-label>
      <ion-select [(ngModel)]="newUser.shipping_address.state">
        <ion-select-option value="Amazonas">Amazonas</ion-select-option>
        <ion-select-option value="Anzoátegui">Anzoátegui</ion-select-option>
        <ion-select-option value="Apure">Apure</ion-select-option>
        <ion-select-option value="Aragua">Aragua</ion-select-option>
        <ion-select-option value="Barinas">Barinas</ion-select-option>
        <ion-select-option value="Bolívar">Bolívar</ion-select-option>
        <ion-select-option value="Carabobo">Carabobo</ion-select-option>
        <ion-select-option value="Cojedes">Cojedes</ion-select-option>
        <ion-select-option value="Delta Amacuro">Delta Amacuro</ion-select-option>
        <ion-select-option value="Distrito Capital" selected="true">Distrito Capital</ion-select-option>
        <ion-select-option value="Falcón">Falcón</ion-select-option>
        <ion-select-option value="Guárico">Guárico</ion-select-option>
        <ion-select-option value="Lara">Lara</ion-select-option>
        <ion-select-option value="Mérida">Mérida</ion-select-option>
        <ion-select-option value="Miranda">Miranda</ion-select-option>
        <ion-select-option value="Monagas">Monagas</ion-select-option>
        <ion-select-option value="Nueva Esparta">Nueva Esparta</ion-select-option>
        <ion-select-option value="Portuguesa">Portuguesa</ion-select-option>
        <ion-select-option value="Sucre">Sucre</ion-select-option>
        <ion-select-option value="Táchira">Táchira</ion-select-option>
        <ion-select-option value="Trujillo">Trujillo</ion-select-option>
        <ion-select-option value="Vargas">Vargas</ion-select-option>
        <ion-select-option value="Yaracuy">Yaracuy</ion-select-option>
        <ion-select-option value="Zulia">Zulia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Ciudad</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.shipping_address.city" value=""></ion-input>        
    </ion-item>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Código postal</ion-label>
      <ion-input type="number" clearInput [(ngModel)]="newUser.shipping_address.postcode" value=""></ion-input>        
    </ion-item>

    <ion-item *ngIf="!billing_shipping_same">
      <ion-label>Teléfono</ion-label>
      <ion-input type="tel" clearInput [(ngModel)]="newUser.shipping_address.phone" value=""></ion-input>        
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="primary" (click)="signup()">Enviar</ion-button>
</ion-footer>