<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button id="menuPrincipal"></ion-menu-button> -->
      <ion-button (click)="onClick()">
          <img src="./assets/images/menu.png" />                 
          <ion-icon slot="icon-only" name="menu"></ion-icon>            
      </ion-button>
    </ion-buttons>     
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="faq">
    <ul>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>1. ¿Cómo me registro?</h2>
        <p>° Ingresa en https://chiveneexpress.com.</p>
        <p>° Cliquear en el símbolo USUARIO</p>
        <p>° Ingresar Dirección de Correo Electrónico y Contraseña</p>
        <p>° Resolver reCAPTCHA</p>
        <p>° Cliquear en REGISTRARSE</p>
        <p>° Te llegara un correo electrónico de Bienvenida de la cuenta contacto@chiveneexpress.com confirmando tu registro.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>2. ¿Cuáles son los Pasos para Comprar?</h2>
        <p>Paso 1: Ingrese a la Tienda https://chiveneexpress.com</p>
        <p>Paso 2: Busque el Producto.</p>
        <p>Paso 3: Añade a su Carrito (Compra mínima ½ Kg, aprovecha el peso), puedes ingresar otros productos para completar el peso y aproveches el peso mínimo.</p>
        <p>Paso 4: Si realizas el pago en Bolívares, seleccione Bs. en el botón superior IZQUIERDO, para visualizar los precios en Bs.</p>
        <p>Paso 5: Completa los datos.</p>
        <p>Paso 6:  Selecciona el método de pago.</p>
        <p>Paso 7: Resolver recaptcha.</p>
        <p>Paso 8: Cliquear “Realizar el Pedido”.</p>
        <p>Paso 9: Recibirá un correo con los Datos Bancarios para realizar la Transferencia en Bolívares.</p>
        <p>Paso 10: Notifica el pago al correo electrónico contacto@chiveneexpress.com, venta@chiveneexpress.com, o al WhatsApp +58-412.090.78.87</p>
        <p>Recuerde realizar su registro, le solicitará dirección de Correo Electrónico y una Contraseña, Todo el proceso de Tracking será notificado en su cuenta creada en ChiveneExpress</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>3. ¿Son Tienda Física?</h2>
        <p>No, somos una Tienda en Línea, tenemos oficinas comerciales en Caracas. Y realizamos envió en todo el territorio nacional con aliados comerciales (sin costo adicional). Todos nuestros productos son traídos desde China a Venezuela, son originales, directo del fabricante.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>4. ¿Como Cobran el Envío de China a Venezuela y el Envío Nacional?</h2>
        <p>El cobro de Venezuela a China se realiza por Peso total de los productos a adquirir, el cual tiene un mínimo de ½ Kg y además tiene un coste de $14,5. Este precio incluye el coste de envío nacional cercano a tu localidad.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>5. ¿Tiempo de Entrega?</h2>
        <p>En tiempo de entrega es de 10 a 20 días aproximadamente, y a través de nuestros aliados comerciales lo retiras en tu ciudad, al lugar más cercano a tu localización sin costo adicional.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>6. ¿Puedo Pagar en Bolívares?</h2>
        <p>Si, puedes realizar el pago de los productos en Bolívares, la página automáticamente te dirá el equivalente en Bolívares, pero además podemos recibir otras monedas como; dólares americanos, euros y yuanes. A través de trasferencias Nacional o Internacional directas a nuestra cuenta del Banco de Venezuela. También disponemos otros medios de pago para Tarjetas de Crédito o Pagos con QR, tales como: PayPal, WeChat-Pay y Alipay.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>7. ¿Cómo Rastreo la Compra Realizada?</h2>
        <p>En estos momentos se notificará a través de los medios de comunicación (Email: contacto@chiveneexpress.com, Chat de la Página, WhatsApp: +58-412-0907887, Instagram: @chiveneexpress, FaceBook: @chiveneexpress), y en un futuro cercano a través de tu cuenta creada en ChiveneExpress.com.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>8. ¿Qué Garantías Tengo si Realmente el Producto Llegará?</h2>
        <p>El producto que compres tiene por defecto un seguro por daños y perdidas Internacional y Nacional, además somos una empresa legalmente registrada en Venezuela según las leyes legal vigente que regulan este tipo de servicios.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>9. ¿Cuál es el Coste de los Productos?</h2>
        <p>Los precios de los Productos están publicados en la página web, organizados por Categorías acompañado de las especificaciones técnicas e imágenes correspondientes.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>10. ¿Existencia de un Producto?</h2>
        <p>Todos nuestros productos son originales y provistos directo del fabricante. Si el producto no lo encuentras en nuestro sitio Web, puedes enviarnos las especificaciones técnicas de lo que busques por nuestros medios de comunicación (Email: contacto@chiveneexpress.com, Chat de la Pagina, WhatsApp: +58-412-0907887, Instagram: @chiveneexpress, FaceBook: @chiveneexpress) y con gusto lo agregamos a la tienda.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>11. ¿Cuándo se Paga el o los Productos?</h2>
        <p>Realizada la selección de los productos en nuestra Tienda en Línea ChiveneExpress, describes los datos de facturación y de envío, seguido del pago en la cuenta de ChiveExpress del Banco de Venezuela en la moneda que usted quiera USD, Euros, Bolívares. También disponemos de otros medios de pago como: Paypal, WeChat-Pay y Alipay.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>12. ¿Puedo Utilizar Cualquier otra Empresa de Envíos de Paquetes y Encomiendas Nacional?</h2>
        <p>Buenos días, tenemos una alianza comercial con MRW, sin embargo, puede utilizar cualquier empresa de envío de paquetes y encomiendas que le genere confianza, solo que los gastos asociados al envío nacional correrán por cuenta del cliente.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>13. ¿Existe Cantidad de Productos Mínimo de Compra?</h2>
        <p>No, no hay cantidad de compras mínima de productos.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>14. ¿Qué Garantía tienen los productos comprados?</h2>
        <p>Puedes gestionar la garantía del producto con nosotros ChiveneExpress, solo por Defectos de Fábrica.</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>15. ¿Dónde obtengo las cuentas Bancarias para Realizar la Transferencia?</h2>
        <p>Al momento de realizar el pago, Seleccionas la Moneda Bs o USD, seguido de seleccionar Pago por Transferencia y luego Comprar. Recibirás un Email con los datos Bancarios para realizar la transferencia electrónica Nacional o Internacional. Deberás enviar el Capture de la Transferencia vía (Email: venta@chiveneexpress.com, Chat de la Página ó WhatsApp: +58-412-0907887)</p>
      </li>
      <li><input type="checkbox" checked>
        <i></i>
        <h2>16.¿Puedo Realizar Pago Móvil?</h2>
        <p>Si, Al momento de realizar el pago, Seleccionas Pago Móvil, realizar el pago y deberás enviar el Capture de la Transferencia vía (Email: venta@chiveneexpress.com, Chat de la Página ó WhatsApp: +58-412-0907887)</p>
      </li>
    </ul>
  </div>
</ion-content>

